*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}
.nav-bar{
    justify-content: space-evenly;
    height: 70px;
    display: flex;
    z-index: 1;
    top:0;
    position:sticky ;
    align-items: center;
    background-color: rgb(147, 131, 131);

}
.nav-logo{
    background-image:url(./tech\ company.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 90px;
    
}
.nav-search{
    display: flex;
    
}
.nav-search input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none 1px;
    
    

}
.nav-search .logo{
    width: 20px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color:rgb(203, 194, 194);
    color: white;
    
}

.nav-like{
    color: white;
    transform: all ease-in-out 2.3s;
    
    
}
.nav-like:hover{
    transition: scale(1.1);
    color: brown;
}
.nav-cart{
    color: white;
}
.nav-cart:hover{
    transition: scale(1.1);
    color: brown;
}