*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
    
}
.nav-bar{
    justify-content: space-evenly;
    height: 70px;
    display: flex;
    z-index: 1;
    top:0;
    position:sticky ;
    align-items: center;
    background-color: rgb(147, 131, 131);

}
.nav-logo{
    background-image:url(./images/WhatsApp\ Image\ 2024-08-09\ at\ 11.01.18\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-bottom: 75px;
    
}
.nav-search{
    display: flex;
    
}
.nav-search input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none 1px;
    
    

}
.nav-search .logo{
    width: 20px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color:rgb(203, 194, 194);
    color: white;
    
}

.nav-like{
    color: white;
    transform: all ease-in-out 2.3s;
    
    
}
.nav-like:hover{
    transition: scale(1.1);
    color: brown;
}
.nav-cart{
    color: white;
}
.nav-cart:hover{
    transition: scale(1.1);
    color: brown;}
 .navbar-selector{
    display: grid;
    grid-template-columns: 20% 75%;
    margin:30px 0;
 }
 .selector{
 padding: 20px;
 background-color: rgb(203, 194, 194);
 border: 1px solid white;
 margin-left: 30px;
 }
 .selector li{
    list-style-type: none;
    padding-left: 20px;
    padding: 8px 0;
 }
 .selector a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
 }
 .selector h6{
    background-color: rgb(147, 131, 131);
    text-transform: capitalize;
    text-align: center;
    font-size: medium;

 }
 .navbar-image{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./images/./download.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
 }
 .navbar-image h2{
    color: white;
    font-size: 28px;
 }
 .navbar-phones{
display: flex;
justify-content: space-evenly;
 }
 .phone-bar{
    padding:30px;
 background-color: rgb(203, 194, 194);
 border: 1px solid white;
 
 
 
 
 }
  .phone-bar .phone1{
    background-image: url(./images/images__4_-removebg-preview.png);
    width: 200px;
    
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;}
    .phone1 h5{
       padding-left: 5px;
       text-align: center;
    }
    .phone1 h3{
padding-top: 270px;
text-align: center;
    }
    h2{
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .phone-bar .phone2{
        background-image: url(./images/download__7_-removebg-preview\ \(2\).png);
        
        width: 200px;
        background-repeat: no-repeat;
        height: 300px;
        align-items: center;}
        
        .phone2 h5{
            padding-left: 5px;
            text-align: center;
         }
         .phone2 h3{
     padding-top: 270px;
     text-align: center}

        .phone-bar .phone3{
            background-image: url(./images/download__3_-removebg-preview.png);
            width: 200px;
            
            background-repeat: no-repeat;
            height: 300px;
            align-items: center;}
            .phone3 h5{
                padding-left: 5px;
                text-align: center;
             }
             .phone3 h3{
         padding-top: 270px;
         text-align: center}
            .phone-bar .phone4{
                background-image: url(./images/download__4_-removebg-preview.png);
                width: 210px;
                
                background-repeat: no-repeat;
                height: 300px;
                align-items: center;}
                .phone4 h5{
                    padding-left: 5px;
                    text-align: center;
                 }
                 .phone4 h3{
             padding-top: 270px;
             text-align: center}
.navbar-laptops{
    display: flex;
    justify-content: space-evenly;
}
.laptops-bar{
    padding:20px;
 background-color: rgb(203, 194, 194);
 border: 1px solid white;}
 .laptops-bar .phone5{
    background-image: url(./images/);
    width: 200px;
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;
padding-right: 20px;}
    .phone5 h5{
       padding-left: 5px;
       text-align: center;
    }
    .phone5 h3{
padding-top: 270px;
text-align: center;}
.laptops-bar .phone6{
    background-image: url(./images/images-removebg-preview\ \(1\).png);
    width: 245px;
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;}
    .phone6 h5{
       padding-left: 5px;
       text-align: center;
    }
    .phone6 h3{
padding-top: 270px;
text-align: center;}
.laptops-bar .phone7{
    background-image: url(./images/);
    width: 230px;
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;}
    .phone7 h5{
       padding-left: 5px;
       text-align: center;
    }
    .phone7 h3{
padding-top: 270px;
text-align: center;}
.laptops-bar .phone8{
    background-image: url(./images/download__5_-removebg-preview\ \(1\).png);
    width: 215px;
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;}
    .phone8 h5{
       padding-left: 5px;
       text-align: center;
    }
    .phone8 h3{
padding-top: 270px;
text-align: center;}
 
 
 
 
 
    
    
    

 
 
   

    
    
 


@media(max-width:400px){
    .nav-search{
        display: flex;
        margin-right: 30px;
        
    }
    .nav-search input{
        height: 20px;
        width: 200px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none 1px;
        
        
    
    }
    .nav-search .logo{
        width: 10px;
        height: 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color:rgb(203, 194, 194);
        color: white;
        
    }
    .nav-logo{
        margin-top: 45px;
    }
    .box-selector{
        background-color: aquamarine;
    margin-right: 50%;
        margin-left: 2%;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        
    }
    .selector{
        
        background-color: rgb(203, 194, 194);
        border: 1px solid white;
        
        }
        .navbar-selector{
            display: grid;
            grid-template-columns:40% 75%;
            
         }
         .navbar-image h2{
            font-size: medium;
            margin-right: 50px;
            
         }
         .navbar-image{
            width: 70%;
         }
         .navbar-phones{
            display: grid;
            grid-template-rows: repeat(4,);
            justify-content: space-evenly;
             }
}
    
