*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
    
}
.nav-bar{
    justify-content: space-evenly;
    height: 70px;
    display: flex;
    z-index: 1;
    top:0;
    position:sticky ;
    align-items: center;
    background-color: rgb(147, 131, 131);

}
.nav-logo{
    background-image:url(./images/WhatsApp\ Image\ 2024-08-09\ at\ 11.01.18\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-bottom: 75px;
    
}
.nav-search{
    display: flex;
    
}
.nav-search input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none 1px;
    
    

}
.nav-search .logo{
    width: 20px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color:rgb(203, 194, 194);
    color: white;
    
}

.nav-like{
    color: white;
    transform: all ease-in-out 2.3s;
    
    
}
.nav-like:hover{
    transition: scale(1.1);
    color: brown;
}
.nav-cart{
    color: white;
}
.nav-cart:hover{
    transition: scale(1.1);
    color: brown;}
 .navbar-selector{
    display: grid;
    grid-template-columns: 20% 75%;
    margin:30px 0;
 }
 .selector{
 padding: 20px;
 background-color: rgb(203, 194, 194);
 border: 1px solid white;
 margin-left: 30px;
 }
 .selector li{
    list-style-type: none;
    padding-left: 20px;
    padding: 8px 0;
 }
 .selector a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
 }
 .selector h6{
    background-color: rgb(147, 131, 131);
    text-transform: capitalize;
    text-align: center;
    font-size: medium;

 }
 .navbar-image{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./images/./download.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
 }
 .navbar-image h2{
    color: white;
    font-size: 28px;
 }
 
 
   

    
    
 


@media(max-width:400px){
    .nav-search{
        display: flex;
        margin-right: 30px;
        
    }
    .nav-search input{
        height: 20px;
        width: 200px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none 1px;
        
        
    
    }
    .nav-search .logo{
        width: 10px;
        height: 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color:rgb(203, 194, 194);
        color: white;
        
    }
    .nav-logo{
        margin-top: 45px;
    }
    .box-selector{
        background-color: aquamarine;
    margin-right: 50%;
        margin-left: 2%;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        
    }
}
    
